<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">

<properties>
	<entry key="selectsoccer">
		SELECT PRO_NO
	        ,PRO_NAME
	        ,PRO_PRICE
	        ,PRO_IMAGE
	        ,CATE_BNO
	        ,CATE_SNO
	  FROM PRODUCT
	  WHERE PRO_STATUS = 'N'
	  AND SELL_STAT ='Y'
	  AND CATE_BNO =10

	</entry>
	
	<entry key="selectboling">
		SELECT PRO_NO
	        ,PRO_NAME
	        ,PRO_PRICE
	        ,PRO_IMAGE
	        ,CATE_BNO
	        ,CATE_SNO
	  FROM PRODUCT
	  WHERE PRO_STATUS = 'N'
	  AND SELL_STAT ='Y'
	  AND CATE_BNO =20

	</entry>
	
	<entry key="selecthealth">
		SELECT PRO_NO
	        ,PRO_NAME
	        ,PRO_PRICE
	        ,PRO_IMAGE
	        ,CATE_BNO
	        ,CATE_SNO
	  FROM PRODUCT
	  WHERE PRO_STATUS = 'N'
	  AND SELL_STAT ='Y'
	  AND CATE_BNO =30

	</entry>
	
	<entry key="selectcycle">
		SELECT PRO_NO
	        ,PRO_NAME
	        ,PRO_PRICE
	        ,PRO_IMAGE
	        ,CATE_BNO
	        ,CATE_SNO
	  FROM PRODUCT
	  WHERE PRO_STATUS = 'N'
	  AND SELL_STAT ='Y'
	  AND CATE_BNO =40

	</entry>
</properties>
