<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container" style="border: 1px solid black;">
    <h2>ORDER / PAYMENT</h2>
              
    <table class="table">
      <thead>
        <tr>
          <th>전체</th>
          <input type="checkbox">
          <th>상품명</th>
          <th>회원할인</th>
          <th>판매가</th>
          <th>수량</th>
          <th>주문금액</th>
          <th>주문관리</th>
          <th>배송비/배송형태</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <input type="checkbox">
          <td>Doe</td>
          <td>John</td>
          <td>John</td>
          <td>John</td>
          <td>John</td>
          <td>John</td>
          <td>John</td>
        </tr>
        <tr>
          <td>1</td>
          <input type="checkbox">
          <td>Doe</td>
          <td>John</td>
          <td>John</td>
          <td>John</td>
          <td>John</td>
          <td>John</td>
          <td>John</td>
        </tr>
        <tr>
          <td>1</td>
          <input type="checkbox">
          <td>Doe</td>
          <td>John</td>
          <td>John</td>
          <td>John</td>
          <td>John</td>
          <td>John</td>
          <td>John</td>
        </tr>
      </tbody>
      <tfoot>
        <h2>상품금액 - 할인 금액 = ?</h2>

      </tfoot>
    </table>
  </div>
</body>
</html>