<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">

<properties>
	<entry key="selectNoticeList">
		SELECT NOTICE_NO,NOTICE_TITLE,NOTICE_DATE
		FROM NOTICE
		WHERE NOTICE_STATUS ='Y'
		ORDER BY NOTICE_DATE DESC
	</entry>

	
	<entry key="noticedetailmain">
		SELECT NOTICE_NO,NOTICE_TITLE,NOTICE_CONTENT,NOTICE_DATE,NOTICE_WRITER,NOTICE_STATUS
		FROM NOTICE
		WHERE NOTICE_STATUS ='Y'
		AND NOTICE_NO = ?
		ORDER BY NOTICE_DATE DESC
	
	
	
	</entry>

	


</properties>