/* common */

body{
  color: #333;
  font-size: 16px;
  line-height: 1.4;
  font-family: sans-serif;
  position: relative;
  left: 34px;
}
img {
 display: block;
}

/* header */
header{
  width: 100%;
  height: 200px;
}
header .inner{
  position: relative;
  width: 1100px;
  height: 120px;
}
header .inner .logo{
  height: 90px;
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 60px;
}
header .top-navi{
 
  right: 170px;
  top: 10px;
  position: absolute;
  
}
header .top-navi ul.navi {
  display: flex;
 
  
}
header .top-navi ul.navi li{
  position: relative;
  list-style: none;

}
header .top-navi ul.navi li::before{
  content: "";
  width: 1px;
  height: 12px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
header .top-navi ul.navi li a{
  font-size: 18px;
  padding: 10px 15px;
  display: block;
  color: black;
  text-decoration-line: none;
}
header .top-navi ul.navi li a:hover{
  
  color: antiquewhite;
}
header .search{
  position: absolute;
  padding: 30px;
  height: 50px;
  width: 900px;
  left: 570px;
  top: 75px;
  
}
header .search .material-icons{
  font-size: 44px;
  position: absolute;
  right: 120px;
  top: 35px;


}
header .search>input{
  height: inherit;
  width: 800px;
  left: inherit;
  
}
header .order{
  height: 100px;
  width: 200px;
  position: absolute;
  right: 200px;
  top: 110px;
}
header .order #order a .material-symbols-outlined{
  font-size: 44px;
  position: absolute;
  right: 100px;
  color: #333;


}
header .order #favor a .material-symbols-outlined{
  font-size: 44px;
  position: absolute;
  color: #333;
}

.navigator{
  margin: 40px 0;
}
#navi{
  list-style-type: none;
            height: 100%;
}
#navi>li{

  /*방법 1 + #navi a{ transform : scale(1); 추가하기}*/
  /* float: left; */
  /* height: 100%;
  width: 20%;
  text-align: center; */

  /*방법 2*/
  display: inline-block;
  width: 15%;
  height: 42px;
  text-align: center;

  vertical-align: middle;/*inline요소들의 수직정렬 기준*/
  background-color: lightskyblue;
  border: 1px solid;
  
}
#navi a{
  /* border: 1px solid red; */
  color: #333;
  text-decoration: none;
  font-size: 23px;
  font-weight: bold;
  display: block;
  width: 100%;
  line-height: 41px;

  /* transform: scale(1); */
}
#navi a:hover{
  font-size: 20px;
  color: brown;
}
#navi>li>ul{
  position: relative;
  margin: auto;
  list-style-type: none;
  padding: 0px;
  font-size: 43px;
  text-align: center;
  display: none;
}
#navi>li>ul a{
  
  font-size: 23px;
  margin: 30px 0;
  text-align: center;
}
#navi>li>ul a:hover{
  font-size: 20px;
  display : block;
}

#navi>li>a:hover+ul {
  /* 평소에는 안보여지다가 마우스가 올라가는 순간 펼쳐지는 효과 부여 2단계 */
  display : block;
 /* 메인메뉴에만 마우스가 올라갈 때 유지가 되므로 */
background-color: lightslategray;

border: 1px solid black;

}
#navi>li>a:hover+ul>li{
  border: 1px solid black;
  z-index: -1;
  
}
.middle{
  width: 1800px;
  height: 500px;
  margin: 40px 40px;
  padding: 10px;
  position: relative;
  
}
.middle #pop-pr{
  width: 90%;
  height: 500px;
  float: left;
}
.middle #pop-pr img{
  width: 92%;
  height: 500px;
}
.middle #notice{
  background-color: saddlebrown;
  width: 10%;
  height: inherit;
  float: left;
  text-align: center;
  font-size: 24px;
}
.middle #notice #content{
  background-color: aliceblue;
  position: absolute;
  width: 10%;
  height: 350px;
  bottom: 10px;
}
.middle #notice #content li{
 list-style: none;
 font-size: 20px;
}
.pop-gym{
  width: 1800px;
  height: 400px;

  margin: 10px 45px;

}
.pop-gym img{
  height: 200px;
  width: 90%;
  margin: 5px;
}
.pop-gym #gym1-text{
  width: 90%;
  margin: 5px;
}
.pop-gym #gym1{
  width: 33%;
  float: left;
  height: inherit;

}
.pop-gym #gym2{
  width: 33%;
  float: left;
  height: inherit
}
.pop-gym #gym3{
  width: 33%;
  float: left;
  height: inherit;
}
#footer{
  margin: 30px;
}
#footer>div{
  width: 100%;
}
#footer_1{
  height: 20%;
  padding-top: 5px;
}
#footer_2{
  height: 80%;
}
#footer_2>p{
  width: 100%;
  /* border: 1px solid red; */
  margin: 0;
  font-size: 15px;
  box-sizing: border-box;
}
#p1{
  height: 80%;
  padding: 5px 40px;/*상하/좌우*/
}
#p2{
  height: 20%;
  text-align: center;
}
#footer_1>a{
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 40px;
}