
.inner .search{
  position: absolute;
  height: 35px;
  width: 720px;
  bottom: 35%;
  left: 25%;
  
}
header .search .material-icons{
  font-size: 37px;
  position: absolute;
  bottom: -2px;
  padding-right: 10px;
}
header .search #search-button{
  border-radius: 7px;
}
header .search #search-button:focus{
  border: 3px solid lightsalmon;
}
header .search>input{
  height: inherit;
  width: 700px;
  left: inherit;
}
header .order{
  height: 100px;
  width: 200px;
  position: absolute;
  right: 200px;
  top: 165px;
}
header .order #order a .material-symbols-outlined{
  font-size: 37px;
  position: absolute;
  right: 100px;
  color: #333;
  bottom: 40px;


}
header .order #favor a .material-symbols-outlined{
  font-size: 37px;
  position: absolute;
  color: #333;
  right: 150px;
  bottom: 40px;
}